body {
    margin:0;
  }

h1 {
    text-align:center;
    color: white;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    font-family:'Times New Roman', Times, serif;
}

.button1{
  background-color: rgb(56, 255, 56);
  border-radius: 15px;
  padding: 10px;
  display:inline-block;
  font-size: large;
  font-weight: 700;
  border: 2px solid darkgreen;
  margin-left: 7.5px;
  display: flex;
  align-items: center;
}

.button1:hover{
  transform: scale(0.98);
  border: 2px solid darkgreen;
  background-color: white;
}

.button2 img{
  width: 3em;
  height:3em;
  background-color: white;
  margin-right: 10px;
  margin-top: 10px;
}

.button2{
  background-color: white;
  border-width: 0;
}

.button2:hover{
  transform: scale(0.98);
  background-color: white;
}


.bovenste-balk img{
  width:3em;
  height:3em;
  margin-right: 20px;
  margin-top: 5px;
  
}

form{
  margin-left: 20em;
  position: relative;
}
form img{
  width:3em;
  height:3em;
  margin-right: 10px;
  margin-top: 30px;
}


header{
    background-color: white;
    width:100%;
    height:auto;
   
}
main{
    background-image: url("../assets/achtergrond.jpg"); 
    width:100%;
    height: auto;
    background-repeat: no-repeat,repeat;
    /* background-size: cover; */
    position: absolute;
}
  

.wit-midden-stuk{
  width:50em;
  height:60em;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 0 10px rgb(164, 255, 142);
  box-shadow: 0 0 10px rgb(164, 255, 142);
}

.bovenste-balk{
  width: 99.5%;
  height:5em;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-bottom: 0px;
  vertical-align: baseline;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2{
  padding-left: 150px;
  position: absolute;
}

p{
  position: absolute;
  margin-top: 100px;
  margin-left: 150px;
}

.deel{
  background-color: rgb(255, 255, 255);
  width:99.5%;
  height:9em;
  border: 2px solid black;
  border-bottom: 0px;
  display: inline-flex;

}

.deel img{
  width: 8em;
  height: 8em;
  align-items: center;
  margin: 7.5px;
  border-radius: 15px;
  z-index: 1000;
  transition: 0.5s;
  position: relative;
}

.deel img:focus{
  transform: scale(2.0);
  margin-left: 20em;
  transition: 1.5s;
  border-radius: 0%;
  border:1px solid black;
}
.deel img:hover{
  transform:scale(1.1);
  transition:0.2s;
}
.deel6{
  border: 2px;
  border-bottom: 2px solid black;
}
